@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&family=Lato:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Alata",sans-serif;
    font-size: 15px;
    color:hsl(0, 0%, 0%);
}
header{
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    
}
.nav-container{
    /* width: 1000px; */
    margin: 0 auto;
    display: flex;
}
.logo{
    margin-left: 150px;
    padding-top: 40px;
}
.logo img{
    height: 29px;
    /* width: 100px; */
}
nav{
    margin-left: 400px;
}
nav ul{
 display: block;
 list-style: none;
 font-size: 18px;
}
nav ul li{
    display: inline-block;
    padding: 15px;
    line-height: 60px;
    font-family: "Josefin Sans";
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.landing-content{
    margin-left: 150px;
    margin-top: 100px;
    display: inline-block;
    border: 1px solid hsl(0, 0%, 100%);
    width: 400px;
}
.landing-content h1{
    font-weight: lighter;
    color: hsl(0, 0%, 100%);
    font-family: "Lato", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
}
.about{
   width: 1000px;
   margin: 80px auto;
   display: flex;
}
.about .image{
    height: 400px;
    width: 550px;
    
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: relative; */
}
.loopstudio-info{
    width: 550px;
    height: 300px;
    background: #fff;
    margin-left: -120px;
    margin-top: 160px;
    /* position: absolute;
    right: 0; */
}
.moreinfo{
    padding: 55px;
}
.moreinfo h2{
    font-size: 30px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    width: 400px;
  
}
.moreinfo p{
    margin-top: 20px;
    color: hsl(0, 0%, 41%);
    line-height: 20px;
}

.creation-images{
    width: 1000px;
    margin: 0 auto;
}
.creations-heading{
    display: flex;
    justify-content: space-between;
}
.creations-heading h2{
    font-size: 30px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 5px;
    
}
.creations-heading a{
    font-size: 15px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "Alata";
    text-decoration: none;
    color:hsl(0, 0%, 0%) ;
    border: 2px solid hsl(0, 0%, 0%);
    padding: 5px 16px;

}

.creations-heading a:hover{
    background: hsl(0, 0%, 0%);
    color: #fff;
}
.creations{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.creation-items{
    margin:15px 20px;
}
.creation-items .creation-img{
    height: 350px;
    width: 200px;
  
}
.creation-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.creation-items p{
   text-transform: uppercase;
   font-family: "Lato",sans-serif;
   font-size: 20px;
   font-weight: 400;
   margin-top: -60px;
   color: #fff;
   width:100px;
   text-align: center;
   margin-left: 70px;
   
    
}
.creation-items:hover{
    filter: grayscale(100%);
   
   
}
footer{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    margin-top: 50px;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.wrapper .footer-links{
    padding: 30px 0;
}
.footer-links .loop-logo img{
    width: 100px;
}
.footer-links ul{
    display: block;
    list-style: none;
}
.footer-links ul li{
    display: inline-block;
    padding: 5px;
    text-align: center;
}
.footer-links ul li a{
    
}
